.Classes{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 550px;
    overflow: scroll;
}

.Center{
    overflow: visible !important;
}

.Title{
    text-align: center;
}
.Controls {
    display: flex;
    align-items: center;
}

.LogOut {
    margin: auto
}