.Center{
    border: white solid 1px;

}

.Title{
    text-align: center;
}

.SubmitEval{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

.EvalQuestions{
    display: flex;

    flex-direction: column;
    overflow: scroll;
    /* max-height: 40%; */
    height: 500px;
}

.BackArrow{
    position: absolute;
    top: 15px;
    left: 20px;
    cursor: pointer;
    width: 30px;
}