.Question{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Buttons{
    display: flex;
    align-items: flex-start;
    /* justify-content: space-evenly; */
    gap: 10px;
    width: 90%;
    overflow: scroll;
    height: 100%;
}

.Buttons::before, .Buttons::after{
    content: '';
    margin: auto;
}

.CommentElmt{
    width: 90%;
    height: 100px;
}