.Login{
    border: white solid 1px;
    /* Add slight background color */
    font-size: large;
}

.Title{
    text-align: center;
}

.Options{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}