.GroupTile{
    border-radius: 10px;
    border: rgb(203, 246, 255) solid 1px;
    /* height: 50px; */
    min-height: 50px;
    min-width: 150px;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;

    
}

.GroupName{
    /* margin: auto; */
    font-size: medium;
    height: 100%;
    max-width: 150px;
    text-align: center;
}
