.Center{
    border: white solid 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Title{
    margin-bottom: -10px;
    text-align: center;
}

.Students{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.warningDialog{
    width: 50%;
}

.EditIcon{
    width: 30px;
    cursor: pointer;
}

.EditProjDialog{
    width: 40%;

}

.BackArrow{
    position: absolute;
    top: 15px;
    left: 20px;
    cursor: pointer;
    width: 30px;
}
.CloseIcon{
    width: 30px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 20px;
}

.TeacherIcons{
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
    display: flex;
    gap: 10px;
}

.CopyIcon{
    width: 25px;
    cursor: pointer;
}

.EditSides{
    display: flex;
    gap: 12px;
}