.Center{
    border: white solid 1px;
    display: flex;
    flex-direction: column;

    overflow: visible !important;
   
    
    align-items: center;
}

.Title{
    margin-bottom: -10px;
    text-align: center;
}

.Projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
    max-height: 550px;
    overflow: auto;
}



.Loading {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
   
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.TeacherIcons{
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
    display: flex;
    gap: 10px;
}

.BackArrow{
    position: absolute;
    top: 15px;
    left: 20px;
    cursor: pointer;
    width: 30px;
}

.EditIcon{
    width: 30px;
    cursor: pointer;
}
.LinkIcon{
    width: 30px;
    cursor: pointer;

}
.EditClassDialog{
    /* width: 50%; */
}

.Invitees{
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: space-between;
}

.CloseIcon{
    width: 30px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 20px;
}

